<div class="brand">Upmetrics Sports</div>
<div class="address-bar">737 Maquam Shore Road | Swanton, VT 05488 | 802.582.9207</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>Upmetrics Sports</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/14086212_1029259077195347_5461780472137491283_o.jpg?oh=4be1df2c2b138d15cf39478f4356b036&oe=59A2EBB7" alt="">
            </div>
            <div class="col-md-6">
                <p>We think sports are a great way to help kids learn about the world.</p>
                <p>Our focus is on using sports to encourage teamwork, problem solving, self discipline, and perserverance.</p>
                <p>We strive to help kids apply these important life lessons outside of the sport, whether it's at the family dinner table, or the classroom.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/18664460_1314450222009563_1051519904248193525_n.jpg?oh=d259e22a7a7c4c267cc8b2da3bbf278f&oe=59A92D86" alt="">
                <h3>Jess Poirier
                    <small>Kid Wrangler</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/18556582_1307090126078906_3367652030940456014_o.jpg?oh=4f3d26dcdcdd9f0244718872ff1956f4&oe=59B9428E" alt="">
                <h3>Isaiah Poirier
                    <small>Bubble Popper</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/16300281_1189932017794718_3921979574989595403_o.jpg?oh=2fb306b530a228cdd516d1c0a11f9dbe&oe=59A3069E" alt="">
                <h3>Desiree Poirier
                    <small>Hula Hooper Extraordinaire</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->
